daemonize yes
pidfile /var/run/redis/redis.pid
port {{ redis_port }}
bind {{ redis_bind_interface }}
timeout {{ redis_timeout }}
requirepass {{ redis_password }}
databases {{ redis_databases }}

loglevel {{ redis_loglevel }}
syslog-enabled no
syslog-ident redis
syslog-facility local0

maxmemory {{ redis_maxmemory }}
maxmemory-policy {{ redis_maxmemory_policy }}
maxmemory-samples {{ redis_maxmemory_samples }}
